/* main_visual */
#main_visual{position: relative;}
/* main_visual의 슬라이드 컨트롤 옵션*/
.swiper{overflow: hidden;}
.swiper{
    --swiper-navigation-size: 50px;
    --swiper-navigation-top-offset: 50%;
    --swiper-navigation-sides-offset: 3%;
    --swiper-navigation-color: #2e5b39;

    --swiper-scrollbar-border-radius: 10px; /* 양쪽 라운드 지정 */
    --swiper-scrollbar-top: auto; /* 위쪽기준 위치 */
    --swiper-scrollbar-bottom: 20px; /* 위에 지정했을 경우 auto로 지정해야 한다 */
    --swiper-scrollbar-sides-offset: 20%; /* 양쪽 여백 0이어도 %필수 */
    --swiper-scrollbar-bg-color: #ddd;
    --swiper-scrollbar-drag-bg-color: #888;
    --swiper-scrollbar-size: 5px; /* 바 높이 */
}
.swiper-scrollbar{display: none;}

/* main_visual 슬라이드 공통 옵션 */
#main_visual .vis_bg img{width: 100%;}
.swiper-slide .vis_text{position: absolute; left: 10%; top: 40%; width: 30%;}
.swiper-slide .vis_text2{position: absolute; right: 10%; top: 40%; width: 30%;}
.swiper-slide .vis_text3{position: absolute; left: 10%; top: 40%; width: 30%;}
.ex{font-size: 24px;}

/* main_visual 슬라이드1 text 옵션 */
.vis_text h1{padding: 10px 0; font-size: 50px;}
.vis_text .sum1{color: #2e5b39; font-size: 35px;}
.vis_text .btn1{font-size: 18px; border: 1px solid #2e5b39; width: 110px; height: 35px; line-height: 33px; text-align: center; border-radius: 20px; margin: 30px 0;}
.vis_text .btn1 a{color: #2e5b39;}
/* main_visual 슬라이드2 text 옵션 */
.vis_text2 h1{padding: 10px 0; font-size: 50px;}
.vis_text2 .sum2{color: #d32c18; font-size: 35px;}
.vis_text2 .btn2{font-size: 18px; border: 1px solid #d32c18; width: 110px; height: 35px; line-height: 33px; text-align: center; border-radius: 20px; margin: 30px 0;}
.vis_text2 .btn2 a{color: #d32c18;}
/* main_visual 슬라이드3 text 옵션 */
.vis_text3 h1{padding: 10px 0; font-size: 50px;}
.vis_text3 .sum3{color: #f7c913; font-size: 35px;}
.vis_text3 .btn3{font-size: 18px; border: 1px solid #f7c913; width: 110px; height: 35px; line-height: 33px; text-align: center; border-radius: 20px; margin: 30px 0;}
.vis_text3 .btn3 a{color: #f7c913;}

/* main_visual 반응형 */
@media screen and (max-width: 1279px){
  .swiper-slide .vis_text{top: 33%;}
  .swiper-slide .vis_text3{top: 33%;}
  .swiper-slide .vis_text2{top: 33%;}
  .ex{font-size: 14px;}
  .vis_text h1{font-size: 30px;}
  .vis_text3 h1{font-size: 30px;}
  .vis_text2 h1{font-size: 30px;}
  .vis_text .sum1{font-size: 24px;}
  .vis_text2 .sum2{font-size: 24px;}
  .vis_text3 .sum3{font-size: 24px;}
  .vis_text .btn1{font-size: 12px; width: 80px; height: 20px; line-height: 18px; margin: 20px 0;}
  .vis_text2 .btn2{font-size: 12px; width: 80px; height: 20px; line-height: 18px; margin: 20px 0;}
  .vis_text3 .btn3{font-size: 12px; width: 80px; height: 20px; line-height: 18px; margin: 20px 0;}
  .swiper-button-prev{display: none !important;}
  .swiper-button-next{display: none !important;}
  .swiper-scrollbar{display: block;}
}
@media screen and (max-width: 767px){
  #main_visual .vis_bg {height: 70vh;}
  #main_visual .vis_bg .m_visual {width: 100%; height: 100%; object-fit: cover; object-position: 80% 50%;}
  #main_visual .vis_bg .m_visual2 {width: 100%; height: 100%; object-fit: cover; object-position: 20% 50%;}
  .swiper-slide .vis_text3{left: 10%; top: 70%; width: 30%;}
  
  .ex{display: none;}
  .vis_text .sum1{font-size: 14px;}
  .vis_text3 .sum3{font-size: 14px;}
  .vis_text2 .sum2{font-size: 14px;}
  .vis_text h1{padding: 5px 0; font-size: 16px;}
  .vis_text3 h1{padding: 5px 0; font-size: 16px;}
  .vis_text2 h1{padding: 5px 0; font-size: 16px;}
  .vis_text .btn1{font-size: 10px; width: 60px; height: 15px; line-height: 13px; margin: 0;}
  .vis_text3 .btn3{font-size: 10px; width: 60px; height: 15px; line-height: 13px; margin: 0;}
  .vis_text2 .btn2{font-size: 10px; width: 60px; height: 15px; line-height: 13px; margin: 0;}
}




/* flow_text */
#flow_text{overflow: hidden; width: 100%; height: 250px; line-height: 250px; font-size: 120px; color: #2e5b39;}
#flow_text p{white-space: nowrap; overflow: hidden; display: inline-block; animation: text-to-left 40s linear infinite;}
@keyframes text-to-left {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
/* flow_text 반응형 */
@media screen and (max-width: 1279px){
  #flow_text{width: 100%; height: 120px; line-height: 120px; font-size: 70px;}
}
@media screen and (max-width: 767px){
  #flow_text{width: 100%; height: 90px; line-height: 90px; font-size: 50px;}
}




/* brand_bn */
#brand_bn{overflow: hidden; width: 100%; position: relative;}
#brand_bn .brand_bg{background: #2e5b39;}
#brand_bn .brand_bg img{opacity: 0.8; width: 100%;}
#brand_bn .brand_text{position: absolute; left: 10%; top: 40%; color: #fff; padding: 30px 0; text-shadow: 3px 4px 10px #000;}
#brand_bn .brand_text h1{font-size: 50px;}
#brand_bn .btn{font-size: 18px; border: 1px solid #fff; width: 110px; height: 35px; line-height: 33px; text-align: center; border-radius: 20px; margin: 30px 0;}
#brand_bn .btn a{color: #fff;}
/* brand_bn 반응형*/
@media screen and (max-width: 1279px){
  #brand_bn .brand_text{top: 35%;}
  #brand_bn .brand_text h1{font-size: 30px;}
}
@media screen and (max-width: 767px){
  #brand_bn .brand_text{top: 25%;}
  #brand_bn .brand_text h1{font-size: 16px;}
  #brand_bn .btn{font-size: 11px; border: 1px solid #fff; width: 80px; height: 20px; line-height: 20px; border-radius: 20px; margin: 10px 0;}
}




/* fix_text */
#fix_text{padding: 60px 0; color: #2e5b39;}
#fix_text p{font-size: 90px; line-height: 1.3;}
#fix_text span{border: 2px solid #2e5b39; border-radius: 100px; padding: 10px 30px; transition: all 0.6s;}
#fix_text span:hover{color: #fff; background: #2e5b39; border-radius: 100px; padding: 10px 30px; transition: all 0.6s;}
/* fix_text 반응형*/
@media screen and (max-width: 1279px){
  #fix_text{padding: 30px 0;}
  #fix_text p{font-size: 70px;}
  #fix_text p br{display: none;}
  #fix_text span{border-radius: 50px; padding: 3px 20px; background: #2e5b39; color: #fff;}
  #fix_text span:hover{border-radius: 50px; padding: 3px 20px;}
}
@media screen and (max-width: 1279px){
  #fix_text{padding: 15px 0;}
  #fix_text p{font-size: 30px;}
  #fix_text span{border-radius: 50px; padding: 3px 10px; background: #2e5b39; color: #fff;}
  #fix_text span:hover{border-radius: 50px; padding: 3px 10px;}
}




/* brand_video */
#brand_video video{width: 100%;}

/* news */
#news{padding-top: 100px;}

#news .news_head{display: flex; justify-content: space-between; height: 80px; line-height: 80px;}
#news .news_head div{font-size: 40px; color: #2e5b39;}
#news .news_head p a{font-size: 18px; color: #2e5b39;}
#news .inner ul{display: flex; justify-content: space-between;}
#news .inner li{width: 30%;}
#news .inner img{width: 100%; border-radius: 30px; overflow: hidden;}
#news .inner li .news_tit{font-size: 26px; padding-bottom: 10px; padding-top: 20px;}
#news .inner li .news_tit a{color: #000;}
#news .inner li .time{font-size: 18px; color: #999;}
/* news 반응형 */
@media screen and (max-width: 1279px){
  #news{padding-top: 60px;}
  #news .news_head{height: 50px; line-height: 40px;}
  #news .news_head div{font-size: 30px;}
  #news .news_head p a{font-size: 18px;}
  #news .inner li .news_tit{font-size: 20px; padding-top: 15px;}
  #news .inner li .time{font-size: 16px;}
}
@media screen and (max-width: 767px){
  #news{padding-top: 30px;}
  #news .news_head{height: 30px; line-height: 25px;}
  #news .news_head div{font-size: 18px;}
  #news .news_head p a{font-size: 14px;}
  #news .inner li .news_tit{font-size: 16px; padding-top: 15px;}
  #news .inner li .time{font-size: 10px;}
}