.sec1_menu{padding: 200px 0 50px; color: #000; font-size:1.3rem;}


.tab_pro{display: flex; justify-content: left; flex-wrap: wrap;}
.tab_pro li{width: 16%; margin-bottom: 30px;}

.tab_pro li img{width: 100%;}

.tab_pro .tab_text p:nth-child(1){font-size: 18px; padding-bottom: 5px; font-weight: 600; color: #2e5b39;}
.tab_pro .tab_text p:nth-child(2){font-size: 20px; color: #000;}

.sec1_menu .tabs li{display: inline-block; padding: 10px 15px; cursor: pointer;}
.sec1_menu .current{padding: 40px; color: #2e5b39; font-weight: 600;}
.sec1_menu .tab-content{display: none;}
.sec1_menu .tab-content.current{display: block;}








@media screen and (max-width: 1279px){

}
@media screen and (max-width: 767px){

}